@font-face {
  font-family: 'aileronLight';
  src: url('fonts/Aileron-Light.otf');
}

@font-face {
  font-family: 'aileronRegular';
  src: url('fonts/Aileron-Regular.otf');
}


html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #6C6C6C;
	color: #ffffff;
	font-family: 'aileronLight', sans-serif;
}

#header {
	width: 90%;
	margin: 0 auto;
}

#header > h1 {
	margin-bottom:0;
}

#header > p {
	margin: 0;
}

#select-all {
	margin-left:5%;
}

.art-button {
	margin-top: 10px;
	margin-left: 2%;
	padding: 10px;
	float:left;
	background-color: #ffffff;
	color: #000000;
}

.art-button:hover {
	background-color:#000000;
	color:#ffffff;
	cursor: pointer;
}

.active {
	background-color:#000000;
	color:#ffffff;
	cursor: pointer;
}

.footer-button {
	margin-top: 10px;
	margin-right: 5%;
	padding: 10px;
	float:right;
	background-color: #ffffff;
	color: #000000;

}

.footer-button:hover {
	background-color:#000000;
	color:#ffffff;
	cursor: pointer;
}

#space {
	padding-bottom: 55px;
}

#date-art {
	margin-top: 10px;
	margin: 0 auto;
	width: 60%;
}

#date-picker {
	background-color: #000000;
}

#date-picker:active {
	cursor: pointer;
}