<!doctype HTML>
<html>
<head>
	<link rel="stylesheet" href="../css/styles.css">
	<meta name="description" content="generate art">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div id="space">
	</div>
	<div id="header">
		<h1>k&uuml;nstler - the GitHub commit graph art maker</h1>
		<p>a project by <a href="http://ggruiz.me/">Gabe Ruiz</a>. Source code <a href="https://github.com/gruiz17/kunstler">here.</a></p>
		<p>Create cool art here. Click "finished" when done.</p>
	</div>
	<div id="date-art">
		<canvas id="date-picker">
		</canvas>
	</div>
	<div id="buttons">
		<span id="select-all" class="art-button">
			select all
		</span>
		<span id="clear" class="art-button">
			clear
		</span>
		<span id="brush" class="art-button active">
			brush
		</span>
		<span id="eraser" class="art-button">
			eraser
		</span>
		<span id="finished" class="footer-button">
			finished!
		</span>
	</div>
	<script type="text/javascript" src="../js/grid.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>